Versagen/XML/Schemas/refTo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="refTo"
    targetNamespace="versagen"
    elementFormDefault="qualified"
    xmlns="versagen"
    xmlns:mstns="versagen"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="refTo">
    <xs:complexType>
      <xs:sequence>
        <xs:any processContents="lax" namespace="##targetNamespace" />
      </xs:sequence>
      <xs:attribute name="category" type="xs:QName" />
      <xs:attribute name="path" type="xs:normalizedString" />
    </xs:complexType>
  </xs:element>
</xs:schema>
